<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personInfo.mapper.PersonBasicInfoMapper">
    <resultMap id="BaseResultMap" type="com.personInfo.bean.PersonBasicInfo">
        <id column="person_id" jdbcType="INTEGER" property="personId"/>
        <result column="person_name" jdbcType="VARCHAR" property="personName"/>
        <result column="is_vip" jdbcType="TINYINT" property="isVip"/>
        <result column="sorts" jdbcType="INTEGER" property="sorts"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="image_path" jdbcType="VARCHAR" property="imagePath"/>
        <result column="disable_number" jdbcType="VARCHAR" property="disableNumber"/>
        <result column="work_addr" jdbcType="VARCHAR" property="workAddr"/>
        <result column="household_addr" jdbcType="VARCHAR" property="householdAddr"/>
        <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="degree" jdbcType="VARCHAR" property="degree"/>
        <result column="income" jdbcType="INTEGER" property="income"/>
        <result column="occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="housing_status" jdbcType="VARCHAR" property="housingStatus"/>
        <result column="car_status" jdbcType="VARCHAR" property="carStatus"/>
        <result column="expected_marry_time" jdbcType="TIMESTAMP" property="expectedMarryTime"/>
        <result column="person_intro" jdbcType="VARCHAR" property="personIntro"/>
        <result column="person_sign" jdbcType="VARCHAR" property="personSign"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="wechat_code_images_path" jdbcType="VARCHAR" property="wechatCodeImagesPath"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <sql id="Base_Column_List">
        person_id, person_name,is_vip,sorts, sex, age, phone, image_path, disable_number, work_addr, household_addr,
        marital_status, height, weight, degree, income, occupation, housing_status, car_status,
        expected_marry_time, person_intro, longitude, latitude, wechat, wechat_code_images_path, qq, email
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `tb_disable_date_person_basic_info`
        where person_id = #{personId,jdbcType=INTEGER}
    </select>

    <select id="selectByPhone" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `tb_disable_date_person_basic_info`
        where phone = #{phone,jdbcType=VARCHAR}
    </select>


    <select id="findRecordList" parameterType="Map" resultMap="BaseResultMap">
        SELECT * FROM
        `tb_disable_date_person_basic_info`
        <if test="start!=null and limit!=null">
            LIMIT #{start},#{limit}
        </if>
    </select>

    <insert id="insert" parameterType="com.personInfo.bean.PersonBasicInfo">
    insert into `tb_disable_date_person_basic_info`
        (person_id, person_name,is_vip,sorts, sex, age, phone, image_path, disable_number, work_addr, household_addr,
        marital_status, height, weight, degree, income, occupation, housing_status, car_status,
        expected_marry_time, person_intro, longitude, latitude, wechat, wechat_code_images_path, qq, email)
    values (#{personId,jdbcType=INTEGER}, #{personName,jdbcType=VARCHAR},
            #{isVip,jdbcType=TINYINT},#{sorts,jdbcType=INTEGER},#{sex,jdbcType=INTEGER},
            #{age,jdbcType=INTEGER},#{phone,jdbcType=VARCHAR},#{imagePath,jdbcType=VARCHAR},
            #{disableNumber,jdbcType=VARCHAR},#{workAddr,jdbcType=VARCHAR},#{householdAddr,jdbcType=VARCHAR},
            #{maritalStatus,jdbcType=VARCHAR},#{height,jdbcType=INTEGER},#{weight,jdbcType=VARCHAR},
            #{degree,jdbcType=VARCHAR},#{income,jdbcType=INTEGER},#{occupation,jdbcType=INTEGER},
            #{housingStatus,jdbcType=VARCHAR},#{carStatus,jdbcType=VARCHAR},#{expectedMarryTime,jdbcType=TIMESTAMP},#{personIntro,jdbcType=VARCHAR},
            #{longitude,jdbcType=VARCHAR},#{latitude,jdbcType=VARCHAR},#{wechat,jdbcType=VARCHAR},
            #{wechatCodeImagesPath,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}
      )
    </insert>

    <insert id="insertBatch" parameterType="com.personInfo.bean.PersonBasicInfo">
        insert into `tb_disable_date_person_basic_info` ( person_id, person_name, is_vip, sorts,sex, age, phone, image_path, disable_number, work_addr, household_addr,
        marital_status, height, weight, degree, income, occupation, housing_status, car_status,
        expected_marry_time, person_intro, longitude, latitude, wechat, wechat_code_images_path, qq, email)
        values
        <foreach collection="recordItems" item="recordItem" separator=",">
            (
                #{recordItem.personId,jdbcType=INTEGER}, #{recordItem.personName,jdbcType=VARCHAR},
                #{recordItem.isVip,jdbcType=TINYINT},#{recordItem.sorts,jdbcType=INTEGER},#{recordItem.sex,jdbcType=INTEGER},
                #{recordItem.age,jdbcType=INTEGER},#{recordItem.phone,jdbcType=VARCHAR},#{recordItem.imagePath,jdbcType=VARCHAR},
                #{recordItem.disableNumber,jdbcType=VARCHAR},#{recordItem.workAddr,jdbcType=VARCHAR},#{recordItem.householdAddr,jdbcType=VARCHAR},
                #{recordItem.maritalStatus,jdbcType=VARCHAR},#{recordItem.height,jdbcType=INTEGER},#{recordItem.weight,jdbcType=VARCHAR},
                #{recordItem.degree,jdbcType=VARCHAR},#{recordItem.income,jdbcType=INTEGER},#{recordItem.occupation,jdbcType=INTEGER},
                #{recordItem.housingStatus,jdbcType=VARCHAR},#{recordItem.carStatus,jdbcType=VARCHAR},#{recordItem.expectedMarryTime,jdbcType=TIMESTAMP},
                #{recordItem.personIntro,jdbcType=VARCHAR},
                #{recordItem.longitude,jdbcType=VARCHAR},#{recordItem.latitude,jdbcType=VARCHAR},#{recordItem.wechat,jdbcType=VARCHAR},
                #{recordItem.wechatCodeImagesPath,jdbcType=VARCHAR},#{recordItem.qq,jdbcType=VARCHAR},#{recordItem.email,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="personId"
            parameterType="com.personInfo.bean.PersonBasicInfo">
        insert into `tb_disable_date_person_basic_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
<!--            <if test="personId != null">-->
<!--                person_id,-->
<!--            </if>-->
            <if test="personName != null">
                person_name,
            </if>
            <if test="isVip != null">
                is_vip,
            </if>
            <if test="sorts != null">
                sorts,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="disableNumber != null">
                disable_number,
            </if>
            <if test="imagePath != null">
                image_path,
            </if>
            <if test="workAddr != null">
                work_addr,
            </if>
            <if test="householdAddr != null">
                household_addr,
            </if>
            <if test="maritalStatus != null">
                marital_status,
            </if>
            <if test="height != null">
                height,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="degree != null">
                degree,
            </if>
            <if test="income != null">
                income,
            </if>
            <if test="occupation != null">
                occupation,
            </if>
            <if test="housingStatus != null">
                housing_status,
            </if>
            <if test="carStatus != null">
                car_status,
            </if>
            <if test="expectedMarryTime != null">
                expected_marry_time,
            </if>
            <if test="personIntro != null">
                person_intro,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="wechatCodeImagesPath != null">
                wechat_code_images_path,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
<!--            <if test="personId != null">-->
<!--                #{personId,jdbcType=INTEGER},-->
<!--            </if>-->
            <if test="personName != null">
                #{personName,jdbcType=VARCHAR},
            </if>
            <if test="isVip != null">
                #{isVip,jdbcType=TINYINT},
            </if>
            <if test="sorts != null">
                #{sorts,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="disableNumber != null">
                #{disableNumber,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="workAddr != null">
                #{workAddr,jdbcType=VARCHAR},
            </if>
            <if test="householdAddr != null">
                #{householdAddr,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatus != null">
                #{maritalStatus,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                #{height,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=VARCHAR},
            </if>
            <if test="income != null">
                #{income,jdbcType=INTEGER},
            </if>
            <if test="occupation != null">
                #{occupation,jdbcType=INTEGER},
            </if>
            <if test="housingStatus != null">
                #{housingStatus,jdbcType=VARCHAR},
            </if>
            <if test="carStatus != null">
                #{carStatus,jdbcType=VARCHAR},
            </if>
            <if test="expectedMarryTime != null">
                #{expectedMarryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="personIntro != null">
                #{personIntro,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="wechatCodeImagesPath != null">
                #{wechatCodeImagesPath,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

<!--    person_id, person_name, sex, age, phone, image_path, disable_number, work_addr, household_addr,-->
<!--    marital_status, height, weight, degree, income, occupation, housing_status, car_status,-->
<!--    expected_marry_time, person_intro, longitude, latitude, wechat, wechat_code_images_path, qq, email-->

    <update id="updateByPrimaryKeySelective" parameterType="com.personInfo.bean.PersonBasicInfo">
        update `tb_disable_date_person_basic_info`
        <set>
            <if test="personId != null">
                person_id = #{personId,jdbcType=INTEGER},
            </if>
            <if test="personName != null">
                person_name = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="isVip != null">
                is_vip = #{isVip,jdbcType=TINYINT},
            </if>
            <if test="sorts != null">
                sorts = #{sorts,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="disableNumber != null">
                disable_number = #{disableNumber,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                image_path = #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="workAddr != null">
                work_addr = #{workAddr,jdbcType=VARCHAR},
            </if>
            <if test="householdAddr != null">
                household_addr = #{householdAddr,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatus != null">
                marital_status = #{maritalStatus,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                degree = #{degree,jdbcType=VARCHAR},
            </if>
            <if test="income != null">
                income = #{income,jdbcType=INTEGER},
            </if>
            <if test="occupation != null">
                occupation = #{occupation,jdbcType=INTEGER},
            </if>
            <if test="housingStatus != null">
                housing_status = #{housingStatus,jdbcType=VARCHAR},
            </if>
            <if test="carStatus != null">
                car_status = #{carStatus,jdbcType=VARCHAR},
            </if>
            <if test="expectedMarryTime != null">
                expected_marry_time = #{expectedMarryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="personIntro != null">
                person_intro = #{personIntro,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="wechatCodeImagesPath != null">
                wechat_code_images_path = #{wechatCodeImagesPath,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where person_id = #{personId,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="com.personInfo.bean.PersonBasicInfo">
    update `tb_disable_date_person_basic_info`
    set
        person_name = #{personName,jdbcType=VARCHAR},
        is_vip = #{isVip,jdbcType=TINYINT},
        sorts = #{sorts,jdbcType=INTEGER},
        sex = #{sex,jdbcType=INTEGER},
        age = #{age,jdbcType=INTEGER},
        phone = #{phone,jdbcType=VARCHAR},
        disable_number = #{disableNumber,jdbcType=VARCHAR},
        image_path = #{imagePath,jdbcType=VARCHAR},
        work_addr = #{workAddr,jdbcType=VARCHAR},
        household_addr = #{householdAddr,jdbcType=VARCHAR},
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
        height = #{height,jdbcType=INTEGER},
        weight = #{weight,jdbcType=VARCHAR},
        degree = #{degree,jdbcType=VARCHAR},
        income = #{income,jdbcType=INTEGER},
        occupation = #{occupation,jdbcType=INTEGER},
        housing_status = #{housingStatus,jdbcType=VARCHAR},
        car_status = #{carStatus,jdbcType=VARCHAR},
        expected_marry_time = #{expectedMarryTime,jdbcType=TIMESTAMP},
        person_intro = #{personIntro,jdbcType=VARCHAR},
        longitude = #{longitude,jdbcType=VARCHAR},
        latitude = #{latitude,jdbcType=VARCHAR},
        wechat = #{wechat,jdbcType=VARCHAR},
        wechat_code_images_path = #{wechatCodeImagesPath,jdbcType=VARCHAR},
        qq = #{qq,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR}
    where person_id = #{personId,jdbcType=INTEGER}
  </update>


    <delete id="delete" parameterType="java.lang.Integer">
        delete from `tb_disable_date_person_basic_info` where person_id =
            #{id}
    </delete>

</mapper>