<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personInfo.mapper.UserinfoMetadataMapper">
    <insert id="insert" parameterType="com.personInfo.bean.UserinfoMetadata">
        INSERT INTO `tb_disable_date_userinfo_metadata`
        (name, disabilityCardNumber, disabilityType, disabilityLevel,
         age, sex, address, householdNature, r3, r4, cellPhone, r6, r7, r741, r8,
         r9, r10, r11, r12, r13, r14, r15, r16, r17, r18, r19, r193, r20, r21,
         r22, r23, r24, r25, r26, r27, householder, headOfHouseholdIdNumber,
         declarer, informationCollector, dateOfFillingOutTheForm, districtAddress,
         street) value (#{name}, #{disabilityCardNumber},
                        #{disabilityType}, #{disabilityLevel}, #{age},
                        #{sex}, #{address}, #{householdNature}, #{r3},
                        #{r4}, #{cellPhone}, #{r6}, #{r7}, #{r741},
                        #{r8}, #{r9}, #{r10}, #{r11}, #{r12}, #{r13}, #{r14},
                        #{r15}, #{r16}, #{r17}, #{r18}, #{r19}, #{r193},
                        #{r20}, #{r21}, #{r22}, #{r23}, #{r24}, #{r25},
                        #{r26}, #{r27}, #{householder},
                        #{headOfHouseholdIdNumber}, #{declarer},
                        #{informationCollector},
                        #{dateOfFillingOutTheForm}, #{districtAddress},
                        #{street})
    </insert>

</mapper>