<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personInfo.mapper.VipPermissionMapper">
  <resultMap id="BaseResultMap" type="com.personInfo.bean.VipPermission">
    <id column="config_id" jdbcType="BIGINT" property="configId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="is_view" jdbcType="TINYINT" property="isView" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="album_count" jdbcType="INTEGER" property="albumCount" />
    <result column="diary_pic_count" jdbcType="INTEGER" property="diaryPicCount" />
    <result column="is_back" jdbcType="TINYINT" property="isBack" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
  </resultMap>

  <sql id="Base_Column_List">
    config_id, user_id, is_view, likes, album_count, diary_pic_count, is_back, update_time, 
    update_admin
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_disable_date_vip_permissions
    where config_id = #{configId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_disable_date_vip_permissions
    where config_id = #{configId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.personInfo.bean.VipPermission">
    insert into tb_disable_date_vip_permissions (config_id, user_id, is_view, 
      likes, album_count, diary_pic_count, 
      is_back, update_time, update_admin
      )
    values (#{configId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{isView,jdbcType=TINYINT}, 
      #{likes,jdbcType=INTEGER}, #{albumCount,jdbcType=INTEGER}, #{diaryPicCount,jdbcType=INTEGER}, 
      #{isBack,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateAdmin,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.personInfo.bean.VipPermission">
    insert into tb_disable_date_vip_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configId != null">
        config_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isView != null">
        is_view,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="albumCount != null">
        album_count,
      </if>
      <if test="diaryPicCount != null">
        diary_pic_count,
      </if>
      <if test="isBack != null">
        is_back,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configId != null">
        #{configId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isView != null">
        #{isView,jdbcType=TINYINT},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="albumCount != null">
        #{albumCount,jdbcType=INTEGER},
      </if>
      <if test="diaryPicCount != null">
        #{diaryPicCount,jdbcType=INTEGER},
      </if>
      <if test="isBack != null">
        #{isBack,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.personInfo.bean.VipPermission">
    update tb_disable_date_vip_permissions
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isView != null">
        is_view = #{isView,jdbcType=TINYINT},
      </if>
      <if test="likes != null">
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="albumCount != null">
        album_count = #{albumCount,jdbcType=INTEGER},
      </if>
      <if test="diaryPicCount != null">
        diary_pic_count = #{diaryPicCount,jdbcType=INTEGER},
      </if>
      <if test="isBack != null">
        is_back = #{isBack,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
    </set>
    where config_id = #{configId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.personInfo.bean.VipPermission">
    update tb_disable_date_vip_permissions
    set user_id = #{userId,jdbcType=BIGINT},
      is_view = #{isView,jdbcType=TINYINT},
      likes = #{likes,jdbcType=INTEGER},
      album_count = #{albumCount,jdbcType=INTEGER},
      diary_pic_count = #{diaryPicCount,jdbcType=INTEGER},
      is_back = #{isBack,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_admin = #{updateAdmin,jdbcType=INTEGER}
    where config_id = #{configId,jdbcType=BIGINT}
  </update>
</mapper>